.login-form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  margin-top: 40px;
}

.nav.nav-tabs.nav-fill {
  display: flex;
  justify-content: space-between;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-top: 58px;
}
.navBar {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  margin-top: 35px;
}
li {
  background: #23b574;
  width: 136px;
  text-align: center;
  color: #000;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}

a {
  color: #000 !important;
  text-decoration: none !important;
  font-size: 23px !important;
}
a:focus,
a:hover {
  color: #23527c;
  text-decoration: none;
}
li:hover {
  box-shadow: 2px 2px 7px -1px #000;
}

.user-cards-container {
  display: flex;
  justify-content: space-between;
}

.user-section {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 630px;
  margin-top: 26px;
}

.user-cards-container {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
  flex-wrap: wrap;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1pxsolidrgba (0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-bottom: 25px;
}
.logout-btn {
  text-align: end;
}
.nav-item {
  padding: 5px 16px;
}
.nav-item:hover {
  border-top: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.h5,
h5 {
  font-size: 2.25rem !important;
}

.h6,
h6 {
  font-size: 2rem !important;
}

.btn {
  margin-top: 21px;
  margin-right: 5px;
  width: 64px;
  height: 32px;
  font-size: 15px !important;
}
.btn.btn-outline-danger {
  margin-top: 0px;
}

.form-label {
  margin-bottom: 0.5rem;
  font-size: 13px;
}
.user-btns {
  display: flex;
  justify-content: flex-end;
}
.error-msg {
  font-size: 15px;
  color: red;
}
